$("#certificate_type-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Sertifikat Görnüşi Maglumatyny Üýtget  - <i><b><%= @certificate_type.certificate_type_title %></b></i></h3>");
$("#certificate_type-modal").modal("show")