$("#paid_offday_type-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Tölegli Rugsat Maglumatyny Üýtget  - <i><b><%= @paid_offday_type.paid_offday_type_title %></b></i></h3>");
$("#paid_offday_type-modal").modal("show")
