$("#county-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Şäherçe Maglumatyny Üýtget  - <i><b><%= @county.county_name %></b></i></h3>");
$("#county-modal").modal("show")