$("#unpaid_offday-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Tölegsiz Rugsat Maglumatyny Üýtget  - <i><b><%= @unpaid_offday.id %></b></i></h3>");
$("#unpaid_offday-modal").modal("show")
