$("#country-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Ýurt Maglumatyny Üýtget  - <i><b><%= @country.country_name %></b></i></h3>");
$("#country-modal").modal("show")