$("#region-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Etrap Maglumatyny Üýtget  - <i><b><%= @region.region_name %></b></i></h3>");
$("#region-modal").modal("show")