<div class="modal-dialog">
  <div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header">
      <h3>Tölegli Rugsat Görnüşini Boz</h3>
    </div>
    <div class="modal-body">
      <ul class="errors"></ul>
      <b>'<%= @unpaid_offday_type.unpaid_offday_type_title %>'</b> bozmagy tassyklaýarsyňyzmy ?
    </div>
    <div class="modal-footer">
      <%= link_to "Hawa, Saýlanany bozmaly !", unpaid_offday_type_path(@unpaid_offday_type), method: :delete, remote: true, class: "btn btn-danger" %>
      <%= link_to "Ýok", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
    </div>
  </div>
</div>
