$("#nationality-modal").html("<%= escape_javascript(render 'edit') %>")
$(".modal-header").html("<h3> Millet Maglumatyny Üýtget  - <i><b><%= @nationality.nationality_title %></b></i></h3>");
$("#nationality-modal").modal("show")